@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@font-face {
    font-family: 'Blorado';
    src: url('path-to-blorado.woff') format('woff');
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Be Vietnam Pro",sans-serif; */
    font-family: 14.9px"Blorado",sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bgOrange:#e84949;
    --bg: #020a13;
    --token:#999;
}
body{
    font-family: Blorado, sans-serif;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    background: var(--bg) !important;
    padding-right: 0px !important;
    cursor: none;
}

 .cursor-dot{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.cursor-outline{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .1s;
    z-index: 2;
}


#wrapper{
    height: 100vh; 
    overflow-y: auto;
    overflow-x: hidden;
}
#wrapper::before{
    content: "";
    height: 100vh;
    width: 100vw;
    color: rgba(113, 113, 113, 0.07);
    position: fixed;
    z-index: -1;
    background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px 90px, linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
    transition: all 0.5s linear 0s;
}

#wrapper::after{
    background-image: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
    position: fixed;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: 0.1;
    transform: translateZ(0px);
}



.container{
    width: 1200px;
    margin: 0 auto;
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

}
.logo{
    width: 80px;
}
.nav-logo{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    margin-left: 7.2rem;
    font-size: 28px;
    color: #FFFFFFCC;

}
.nav-items{
    display: flex;
    gap: 4rem;
    padding: 0 4em;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFFCC;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #C6C6C6;
    margin: auto;
    display: block;
}

.navbar a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.nav-items div:hover{
    transform: scale(1.03);
    transition: 0.6s;
    width: 100%;
    
}


/* ABOUT-SECTION */
.rotate-img{
    display: none;
}
.about-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E1E1E1;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}



.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    margin-left: 100px;
}

.hero-title{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  margin-block-end: 14px;
}

.hero-title strong {
    font-size: 3.5rem;
    font-weight: inherit;
    margin-block-end: 8px;
}

.about-description{
    font-weight: 400;
    width: 90%;
    margin-top:0.1rem ;
    color: #C6C6C6;
    line-height: 1.5rem;
    word-spacing: 0.18rem;
    
}

.btn-cv{
    background-color: rgba(113, 113, 113, 0.07);
        width: fit-content;
        color: white;
        padding: 0.8rem 2.3rem;
        box-shadow: 5px 5px 7px 0px #0000003f;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.5s;
        font-weight: 500;
        position: relative;
        z-index: 1;
        text-decoration: none;
}
.btn-cv:hover{
    background-color: cyan;
    color: #020a13;
}

.about-right{
    position: relative;

}

.absolute{
    position: absolute;
}

.user-img{
    padding: 2.5rem;
    border-radius: 10px;
    transition: all 1s;
    /* filter: grayscale(1); */
    /* animation: scaleImage 4s linear infinite; */
}

/* @keyframes scaleImage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        
    }
    100%{
        box-shadow: 2px 2px 8px black;
        transform: scale(1);
        filter: grayscale(0);
    }
} */

.about-right img{
    border-radius: inherit;
}

.rotate-img{
    display: block;
    position: absolute;
    bottom: 160px;
    left: 750px;
    width: 100px;
    animation: rotate360 15s linear infinite reverse;
}

@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }

  @media (max-width: 1140px) {
    body {
        font-size: 14px; /* Change the font size for smaller screens */
    }

    .container {
        width: 100%; /* Make the container full width on smaller screens */
        padding: 0 20px; /* Add padding to the container */
    }

    .navbar {
        flex-direction: column; /* Stack navigation items vertically */
        text-align: center; /* Center-align navigation items */
    }

    .nav-logo {
        margin-left: 0; /* Remove the left margin for the logo text */
    }

    .logo-text {
        margin-left: 0; /* Adjust the margin for the logo text */
    }

    .nav-items {
        margin-top: 3rem;
        gap: 2rem; /* Reduce the gap between navigation items */
        padding: 0 2em; /* Adjust padding for navigation items */
    }

    .nav-items div {
        font-size: 18px; /* Reduce font size for navigation items */
    }
}
@media(max-width:350px){
   .nav-items{
    flex-direction: column;
    text-align: center;
   }
}

@media (max-width: 768px) {
    .logo-text {
        font-size: 24px; /* Reduce font size for the logo text */
    }
    
    .nav-items div {
        font-size: 16px; /* Further reduce font size for navigation items */
    }
    
    .nav-items {
        padding: 0 1em; /* Adjust padding for navigation items */
    }
    
    /* Add any additional responsive styles for smaller screens as needed */
}


  @media (max-width: 1140px) {
    /* Adjust your styles here */
    body {
        font-size: 14px; /* Change the font size for smaller screens */
    }

    .container {
        width: 100%; /* Make the container full width on smaller screens */
        padding: 0 20px; /* Add padding to the container */
    }

    .about-section {
        flex-direction: column; /* Stack elements in the about section */
        gap: 2rem; /* Reduce the gap between elements */
    }

    .about-left {
        margin: 1rem; /* Adjust margin for the left section */
        text-align: center; /* Center-align content */
    }

    .hero-title {
        font-size: 1.5rem; /* Reduce font size for the title */
    }
    
    .rotate-img{
        display: none;
    }

    .hero-title strong {
        font-size: 2.5rem; /* Reduce font size for strong text */
    }
}


/* PROJECTS */
.project-section{
    margin-top: 0.1rem;
}
.page-header{
    color:#C6C6C6;
    font-size: 37.76px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 1.4rem;
}
.subheading{
    color:#C6C6C6;
    font-size: 18.88px;
    text-align: center;
    padding-top: 20px;
    line-height: 1.6;
    margin: 0px 153.425px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;

}

.project-card{
    width: 70%;
    height: 400px;
    background-image: url(./images/Projects/Project1.jpg);
    background-size: cover;
    position: relative;
   
}

.project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;

}

.project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;

}

.project-card:hover::before{
    transform: scaleX(1);

}

.project-number{
    position: absolute;
    font-size: 150px;
    font-weight: 600;
    color: #E1E1E1;
    z-index: 10;
    opacity: 0;
}
.project-card:hover .project-number{
    opacity: 1;
    transition: 1s;
}
.project-number-right{
    right: -40px;
    top: -45px;
}


.project-number-left{
    left: -40px;
    top: -45px;
}

.project-content{
    top: 1.5rem;
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
}

.project-content-left1{
    left: 10%;
}

.project-content-left{
    left: 20%;
}

.project-content-right{
    left: 30%;
}

.project-skills-container1{
    width: 60%;
    display: flex;
    flex-wrap:wrap ;
}
.project-skill1{
    width: 100px;
}

.project-skills-container{
    width: 60%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

}
.project-skill{
    width: 40px;
}

.project-heading{
    font-size: 30px;
    font-weight: bold;
    line-height: 3rem;

}

.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.icon{
    cursor: pointer;
    color: whitesmoke;
    font-size: 25px;
}

.icon:hover{
    color: orangered;
    transition: all 0.4s;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

#project2{
    margin-left: 120px;
    background-image: url(images/Projects/Project2.png);
}
#project3{
    background-image: url(images/Projects/Project3.png);
}
#project4{
    margin-left: 120px;
    background-image: url(images/Projects/Project4.png);
}

/* PROJECT RESPONSIVE PART */
@media(max-width:312px){
    .project-content{
        margin-bottom: 8rem;
    }
}

@media(max-width:230px)
{
    .project-content{
        margin-bottom: 50rem;
    }
}

@media (max-width:1300px) {
    .page-header {
        font-size: 28px;
    }

    .subheading {
        font-size: 16px;
        margin: 0;
    }

    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 100%;
      height: 300px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
        width: 100%;
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin-inline-end: 50%;
    }
    .project-content-left {
      left: 0;
    }
    .project-content-left1{
        left: 0;
    }
    .project-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-subheading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }

    .project-skills-container1{
        width: 100%;
    }
    .project-skills-container {
      width: 100%;
    }
    .project-skill {
      width: 35px;
    }
    .project-skill1{
        width: 50px;
    }
    .project-card:hover .project-number {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }
  }


  @media screen and (max-width: 768px) {
    .project-content {
        padding: 1em;
        font-size: 14px;
    }

    .project-content-left1,
    .project-content-left,
    .project-content-right {
        left: 5%;
    }
}

@media screen and (max-width: 480px) {
    .project-content {
        padding: 0.5em;
        font-size: 12px;
    }

    .project-content-left1,
    .project-content-left,
    .project-content-right {
        left: 2%;
    }
}

/* SKILLS  */

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;

}

.fade-text{
    position: absolute;
    font-size: 15em;
    color: #6c757d;
    transform: rotate(90deg);
    right:85%;
    user-select: none;
    opacity: 0.1;
    
}

.skill-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skill-subheading{
    color: #C6C6C6;
}

.skill-right{
    width: 50%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.skills-logo{
    width: 90px;
    transition:all 0.5s ;

}

.skills-logo:hover{
    transform: scale(1.2);
}

.icons{
    width: 100px;
}